.green {
    color: green;
}
.red {
    color: red;
}
.black {
    color: black;
}
.blue {
    color: lightblue;
}
.yellow {
    color: orange;
}
/* родитель text и размер задается в (em), те родитель умножается на число em */
.text {
    font-size: 30px;
}
.size-s {
    font-size: 1.1em;
}
.size-m {
    font-size: 1.4em;
}
.size-l {
    font-size: 1.8em;
}
.size-xl {
    font-size: 2.4em;
}

.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
.strike {
    text-decoration: line-through;
}
/* размещение по центру и шрифты */
.text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

s {
    color: black;
}
u {
    color: black;
}
.under {
    text-decoration: underline;
}

