.dark {
    background-color: rgb(173, 160, 161);
    width: 100%;
    padding: 50px 20%;
    box-sizing: border-box;

}

.dark article {
    background-image: url(../img/love.jpg);
    background-size: cover;

}

.dark article .contents {
    width: 33%;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgba(90, 51, 134, 0.5);
    color: white;
}

.dark .contents .text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dark .contents .text h3 {
    font-size: 24px;
    margin-bottom: 25px;
}

.dark .contents .text p {
    font-size: 20px;
    line-height: 1.5;
}

.dark .contents .text p.link {
    text-align: right;
}
.dark .contents .text p.link a {
    color: white;
}
.quote {
    padding: 25px 20%;
    border-bottom: 1px solid #cfcfcf;
}

.quote .content button {
    background: none;
    border: 0;
}
.quote .content p {
    font-size: 20px;
    line-height: 1.5;
    display: inline-block;

}
