.white {
    background-color: #fffaf0;
    width: 100%;
    padding: 50px 20%;
    box-sizing: border-box;
}

.white article {
    background-image: url(../img/blonde.jpg);
    background-size: cover;
    
}

.white article .contents{
    width: 33%;
    box-sizing: border-box;
    padding: 20px;
    background-color: aliceblue;
    color: #4c4747;
    

}

.white .text {

}
